<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="../">Startsida</a></li>
    <li class="breadcrumb-item active" aria-current="page">Träningsdagbok</li>
  </ol>
</nav>