<nav class="nav nav-fill nav-pills flex-column">


  <!-- Switch statement & ejs
      https://github.com/mde/ejs/issues/444
      https://javascript.info/switch
   -->
  <% const foo = stuff.active %> 

      <a class="nav-link" href="/">Startsida</a>
      <a class="nav-link" href="/sv/program/">Program</a>
      <a class="nav-link" href="/sv/dagbok/">Träningsdagbok</a>
      <a class="nav-link" href="/sv/stats/">Statistik</a>
      <a class="nav-link" href="/sv/macros/">Macros</a>
      <a class="nav-link" href="/sv/blog/">Blog</a>
      <a class="nav-link" href="/sv/mal">Mål</a>
      <a class="nav-link" href="/sv/bedrifter">Bedrifter</a>
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><img src="/_graphics/gb.png" alt="en-GB"></a>
      <a class="nav-link" href="/"><img src="/_graphics/se.png" alt="sv-Sv"></a>
      <a class="nav-link" href="/sv/login/">Login</a>
      <a class="nav-link" href="/sv/generator/">Generator</a>
  
</nav>