<ul class="nav justify-content-center">
	<li class="nav-item">
		<a class="nav-link" href="/sv/stats/skivstang">Skivstång</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/sv/stats/hantel">Hantel</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/sv/stats/styrkelyft">Styrkelyft</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/sv/stats/simning">Simning</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/sv/stats/rodd">Rodd</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/sv/stats/lopning">Löpning</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/sv/stats/tyngdlyftning">Tyndlyftning</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/sv/stats/strongman">Strongman</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/sv/stats/kroppsvikt">Kroppsvikt</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/sv/stats/ringar">Ringar</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/sv/stats/terminator">Maskiner</a>
	</li>
</ul>