<!-- pagination starts -->
<nav aria-label="...">
  <ul class="pagination pagination-lg justify-content-center">
    <li class="page-item">
      <a class="page-link" href="diary/2011/">2011</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="diary/2012/">2012</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="diary/2013/">2013</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="diary/2014/">2014</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="diary/2015/">2015</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="diary/2016/">2016</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="diary/2017/">2017</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="diary/2018/">2018</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="diary/2019/">2019</a>
    </li>
    <li class="page-item active" aria-current="page">
      <span class="page-link">
        2020
        <span class="sr-only">(current)</span>
      </span>
    </li>
    <li class="page-item disabled">
      <span class="page-link" aria-hidden="true">2021</span>
    </li>
  </ul>
</nav>
<!-- pagination ends -->