<!DOCTYPE html>
<html lang="sv">

	<%- include('./partials/head.ejs') %>

<body id="top">
	<div class="container-fluid">

    <section class="row">
      <div class="col-xl-11 col-md-11">
        <!-- Header starts -->
        <div class="text-center">
          <h1 class="">Träning</h1>
            <img src="../_graphics/icons8-spiral-bound-booklet-100.png" alt="Dagbok" title="Dagbok">
            <h2>404</h2>
        </div>
        <!-- Header ends -->
      </div>
      <aside class="col-xl-1 col-md-1 bg-dark">

        <%- include('./partials/nav.ejs') %>

      </aside>
    </section>

    <section class="row">
      <div class="col-xl-11 col-md-11">
        <!-- Breadcumb row starts -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../">Startsida</a></li>
            <li class="breadcrumb-item active" aria-current="page">Blog</li>
          </ol>
        </nav>
        <!-- Breadcumb row ends -->
      </div>
    </section>

    <!-- Startsida starts -->
    <div class="row" id="Start">
      <div class="col-xl-11 col-md-11">
        <h2 class="header-year">404 felmeddelande</h2>
      </div>
    </div>
    <!-- Startsida ends -->

    <main class="row">
      <section class="col-xl-11 col-md-11" id="">

        <div class="not-found content">
          <h2>Sidan du försökte nå, finns inte eller så råkade du skriva i fel adress.</h2>
        </div>
      </section>
    </main>

    <%- include('./partials/pagination.ejs') %>

  </div>
  <!-- container ends -->

  <!-- Footer starts-->
	<footer>
	</footer>
  <!-- Footer ends -->

  <!-- Popper.js first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>