<!DOCTYPE html>
<html lang="sv">
	
  <%- include('./partials/head.ejs') %>

<body id="top">
	<div class="container-fluid">

		<section class="row">
			<div class="col-xl-11 col-md-11">
        <!-- Header starts -->
				<div class="text-center">
					<h1 class="">Träning</h1>
            <h2>Varför träna?</h2>
            <iframe width="50%" height="315" src="https://www.youtube.com/embed/wvYXoyxLv64" frameborder="0" allowfullscreen></iframe>
            <h3>För att kunna göra spännande saker!</h3>
				</div>
        <!-- Header ends -->
			</div>
      <aside class="col-xl-1 col-md-1 bg-dark">
      
        <%- include('./partials/nav.ejs') %>

      </aside>
		</section>

    <section class="row">
      <div class="col-xl-11 col-md-11">
        <!-- Breadcumb row starts -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="#">Startsida</a></li>
          </ol>
        </nav>
        <!-- Breadcumb row ends -->
      </div>
    </section>

    <!-- Intro starts -->
    <section class="row" id="intro">
      <div class="col-xl-11 col-md-11">
        <div class="card">
          <h2 class="text-center card-header">
            Intro
          </h2>
          <div class="card-body">
            <h3 class="card-title headers">Motivation</h2>
            <p class="card-text">Denna sida handlar om träning, men jag tycker att det engelska order <i>fitness</i>, passar mycket bättre för det jag vill åstakomma med min träning. Jag uppnå och sen vara på en viss nivå av (to be fit), för att kunna göra vissa saker. Förutom möjligheten till att leva längre och hälsosammare, så vill jag kunna göra vissa saker. Gå på vandringar, paddla kajak, etc. Ingen av dessa saker kräver den nivå av fitness jag har nu och vill uppnå, men dels handlar det om ett egetsyfte och dels för att kunna göra samma saker och ha det "lättare"; dessutom för att kunna göra mer avancerade och krävande vandringar, kajakturer, etc.</p>

            <p class="card-text">Sidan är uppdelad i denna sida som ska vara en sorts upgångspunkt, <a href="goals/" title="mål" target="_blank">mål</a>, där jag skriver upp nuvarande och kommande mål som jag vill uppnå. Sidan <a href="achievements/" title="bedrifter" target="_blank">bedrifter</a> handlar om att lista avklarade mål och rekord jag har uppnått.</p>

            <p class="card-text">Ytterligare motivation är att jag väntar en <a href="http://minion.jakobpapirov.se" title="Minion" target="_blank">minion</a> snart och jag vill orka göra alla fysiska saker (och mer därtill) som hör till uppfostrandet av en minion.</p>

            <p class="card-text">Jag anser att människokroppen är gjord för ett aktivt liv. Jag vill kunna använda min kropp för ett aktivt liv. Jag tror att min kroppsbyggnad gör det lättare för mig att vara vältränad och därför vill jag heller inte låta det gå till splillo.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Utvalda pages starts-->
    <main class="row">
      <!-- Select goals starts -->
      <section class="col-xl-11 col-md-11" id="taste">
        <h2 class="headers">Utvalda, pågående, mål</h2>

        <!-- Start row 1 -->
        <div class="row pb-4">
          <div class="col">

            <div class="card card-text">
              <h4 class="card-header text-center">Marklyft</h4>
              <a href="goals/">
                <img src="/_graphics/icons8-finish-flag-100.png" class="card-img-top" alt="Mål" title="Mål" style="width: 100px">
              </a>
              <div class="card-body">
                <p class="card-text">Ett av mina långsiktiga mål inom styrkelyft är 200 kg marklyft!</p>
              </div>
            </div>
            <!-- End card -->
          </div>
          <!-- End col -->
          <div class="col">
            <div class="card card-text">
              <h4 class="card-header text-center">Bänkpress (Skivstång)</h4>
              <a href="goals/">
                <img src="/_graphics/icons8-finish-flag-100.png" class="card-img-top" alt="Mål" title="Mål" style="width: 100px">
              </a>
              <div class="card-body">
                <p class="card-text">Ett av mina långsiktiga mål inom styrkelyft är 100 kg bänkpress!</p>
              </div>
            </div>
            <!-- End card -->
          </div>
          <!-- End col -->
          <div class="col">
            <div class="card card-text">
              <h4 class="card-header text-center">Axelpress (Skivstång)</h4>
              <a href="goals/">
                <img src="/_graphics/icons8-finish-flag-100.png" class="card-img-top" alt="Mål" title="Mål" style="width: 100px">
              </a>
              <div class="card-body">
                <p class="card-text">Ett tillsynes svåruppnått mål är att lyfta 75 kg (axel/militär press) 1 gång!</p>
              </div>
            </div>
            <!-- End card -->
          </div>
          <!-- End col -->
         </div>
        <!-- End row 1 -->

        <!-- Start row 2 -->
        <div class="row pb-4">
          <div class="col">
            <div class="card card-text">
              <h4 class="text-center card-header">Rodd (Skivstång)</h4>
              <a href="goals/">
                <img src="/_graphics/icons8-finish-flag-100.png" class="card-img-top" alt="Mål" title="Mål" style="width: 100px">
              </a>
              <div class="card-body">
                <p class="card-text">Ett mål mer i närtid är att kunna ro min kroppsvikt (~ 100 kg) 3 gånger!</p>
              </div>
            </div>
            <!-- End card -->
          </div>
          <!-- End col -->
          <div class="col">
            <div class="card card-text">
              <h4 class="text-center card-header">Tyndlytning: Ryck</h4>
              <a href="goals/">
                <img src="/_graphics/icons8-finish-flag-100.png" class="card-img-top" alt="Mål" title="Mål" style="width: 100px">
              </a>
              <div class="card-body">
                <p class="body-text">Ett av mina mål inom tyndlyftning är att genomföra en ryck på 75 % av min kroppsvikt (~ 100 kg)!</p>
              </div>
            </div>
            <!-- End card -->
          </div>
          <!-- End col -->
          <div class="col">
            <div class="card card-text">
              <h4 class="text-center card-header">Tyndlytning: Stöt</h4>
              <a href="goals/">
                <img src="/_graphics/icons8-finish-flag-100.png" class="card-img-top" alt="Mål" title="Mål" style="width: 100px">
              </a>
              <div class="card-body">
                <p class="body-text">Ett av mina mål inom tyndlyftning är att genomföra en stöt på 100 % av min kroppsvikt (~ 100 kg)!</p>
              </div>
            </div>
            <!-- End card -->
          </div>
          <!-- End col -->
        </div>
      </section>
      <!-- Select goals ends-->

      <!-- Select achievements starts -->
      <section class="col-xl-11 col-md-11" id="achievements">
        <h2 class="headers">Utvalda bedrifter</h2>
        
        <!-- Start row 1 -->
        <div class="row pb-4">
          <div class="col">
            <div class="card card-text">
              <h4 class="text-center card-header">Secret compass</h4>
              <a href="achievements/">
                <img src="/_graphics/icons8-trophy-100.png" class="card-img-top" alt="Mål" title="Mål" style="width: 100px">
              </a>
              <div class="card-body">
                <p class="body-text">Att ha fullföljt alla delmål inom <a href="www.secretcompass.com" title="Secret Compass" target="_blank">Secret Compass</a> träningsprogram för att ligga på grundnivån för att klara av deras expeditioner!</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-text">
              <h4 class="text-center card-header">Lorem ipsum</h4>
              <a href="achievements/">
                <img src="/_graphics/icons8-trophy-100.png" class="card-img-top" alt="Mål" title="Mål" style="width: 100px">
              </a>
              <div class="card-body">
                <p class="body-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda minus numquam, hic officia minima error dicta optio eum magnam, quas. Sint deleniti libero neque exercitationem beatae doloremque ipsum alias nisi.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-text">
              <h4 class="text-center card-header">Löpning 10 km</h4>
              <a href="achievements/">
                <img src="/_graphics/icons8-trophy-100.png" class="card-img-top" alt="Mål" title="Mål" style="width: 100px">
              </a>
              <div class="card-body">
                <p class="body-text">Löpning (löpband): 2,5 km á 4 etapper på totalt 10 km på 60 minuter!</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End row 1 -->
        <!-- Start row 2 -->
        <div class="row pb-4">
          <div class="col">
            <div class="card card-text">
              <h4 class="text-center card-header">Simning</h4>
              <a href="achievements/">
                <img src="/_graphics/icons8-trophy-100.png" class="card-img-top" alt="Mål" title="Mål" style="width: 100px">
              </a>
              <div class="card-body">
                <p class="body-text">Simning (simbasäng): 2 km på 60 minuter, bröstsim!</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-text">
              <h4 class="text-center card-header">Romanian deadlift</h4>
              <a href="achievements/">
                <img src="/_graphics/icons8-trophy-100.png" class="card-img-top" alt="Mål" title="Mål" style="width: 100px">
              </a>
              <div class="card-body">
                <p class="body-text">Inom styrketräning så var mitt första seriösa mål 80 kg Romanian deadlift, 3 repetitioner!</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-text">
              <h4 class="text-center card-header">Biceps</h4>
              <a href="achievements/">
                <img src="/_graphics/icons8-trophy-100.png" class="card-img-top" alt="Mål" title="Mål" style="width: 100px">
              </a>
              <div class="card-body">
                <p class="body-text">Styrketräning (biceps): Biceps curl 20 kg á 3 repetitioner!</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End row 2 -->
      </section>
      <!-- Select achievements ends -->

      <!-- Select stats starts -->
      <section class="col-xl-11 col-md-11" id="stats">
        <h2 class="headers">Utvald statistik</h2>
        
        <!-- Start row 1 -->
        <div class="row pb-4">
          <!-- Col starts -->
          <div class="col">
            <!-- Card starts -->
            <div class="card card-text">
              <h4 class="text-center card-header">Romanian deadlift</h4>
              <a href="stats/">
                <img src="/_graphics/icons8-finish-flag-32.png" class="card-img-left" alt="Mål" title="Mål">
              </a>
              <div class="card-body">
                <p class="card-text">Romanian deadlift</p>
              </div>
            </div>
          </div>
          <!-- Col ends -->
          <!-- Col starts -->
          <div class="col">
            <!-- Card starts -->
            <div class="card card-text">
              <h4 class="text-center card-header">Bent over row</h4>
              <a href="stats/">
                <img src="/_graphics/icons8-finish-flag-32.png" class="card-img-left" alt="Mål" title="Mål">
              </a>
              <div class="card-body">
                <p class="card-text">Bent over row</p>
              </div>
            </div>
          </div>
          <!-- Col ends -->
          <!-- Col starts -->
          <div class="col">
            <!-- Card starts -->
            <div class="card card-text">
              <h4 class="text-center card-header">Bench press</h4>
              <a href="stats/">
                <img src="/_graphics/icons8-finish-flag-32.png" class="card-img-left" alt="Mål" title="Mål">
              </a>
              <div class="card-body">
                <p class="card-text">Bench press</p>
              </div>
            </div>
          </div>
          <!-- Col ends -->
          <!-- Col starts -->
          <div class="col">
            <!-- Card starts -->
            <div class="card card-text">
              <h4 class="text-center card-header">Overhead press</h4>
              <a href="stats/">
                <img src="/_graphics/icons8-finish-flag-32.png" class="card-img-left" alt="Mål" title="Mål">
              </a>
              <div class="card-body">
                <p class="card-text">Overhead press</p>
              </div>
            </div>
          </div>
          <!-- Col ends -->
        </div>
        <div class="row pb-4">
          <!-- Col starts -->
          <div class="col">
            <!-- Card starts -->
            <div class="card card-text">
              <h4 class="text-center card-header">DB Curl</h4>
              <a href="stats/">
                <img src="/_graphics/icons8-finish-flag-32.png" class="card-img-left" alt="Mål" title="Mål">
              </a>
              <div class="card-body">
                <p class="card-text">DB Curl</p>
              </div>
            </div>
          </div>
          <!-- Col ends -->
          <!-- Col starts -->
          <div class="col">
            <!-- Card starts -->
            <div class="card card-text">
              <h4 class="text-center card-header">Russian twist</h4>
              <a href="stats/">
                <img src="/_graphics/icons8-finish-flag-32.png" class="card-img-left" alt="Mål" title="Mål">
              </a>
              <div class="card-body">
                <p class="card-text">Russian twist</p>
              </div>
            </div>
          </div>
          <!-- Col ends -->
          <!-- Col starts -->
          <div class="col">
            <!-- Card starts -->
            <div class="card card-text">
              <h4 class="text-center card-header">Dumbbel 1h row</h4>
              <a href="stats/">
                <img src="/_graphics/icons8-finish-flag-32.png" class="card-img-left" alt="Mål" title="Mål">
              </a>
              <div class="card-body">
                <p class="card-text">Dumbbel 1h row</p>
              </div>
            </div>
          </div>
          <!-- Col ends -->
          <!-- Col starts -->
          <div class="col">
            <!-- Card starts -->
            <div class="card card-text">
              <h4 class="text-center card-header">Pendlay row</h4>
              <a href="stats/">
                <img src="/_graphics/icons8-finish-flag-32.png" class="card-img-left" alt="Mål" title="Mål">
              </a>
              <div class="card-body">
                <p class="card-text">Pendlay row</p>
              </div>
            </div>
            <!-- Card ends -->
          </div>
          <!-- Col ends -->
        </div>
        <!-- Row ends -->
      </section>
      <!-- Select stats ends -->

      <!-- Select levels starts -->
      <section class="col-xl-11 col-md-11" id="levels">
        <h2 class="headers">Utvalda styrkenivåer</h2>
        
        <!-- Start row 1 -->
        <div class="row pb-4">
          <p>Enligt hemsidan <a href="www.strengthlevel.com" title="strengthlevel" target="_blank">Strength level</a> så har jag uppnått följande styrkenivåer:</p>
          <div class="col">
            <div class="card card-text">
              <h4 class="text-center card-header">Romanian deadlift</h4>
                <a href="standards/">
                  <img src="/_graphics/icons8-finish-flag-32.png" alt="Mål" title="Mål">
                </a>
                <div class="card-body">
                  <p class="card-text">Romanian deadlift: Intermediate</p>
                </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-text">
              <h4 class="text-center card-header">Bent over row</h4>
                <a href="standards/">
                  <img src="/_graphics/icons8-finish-flag-32.png" alt="Mål" title="Mål">
                </a>
                <div class="card-body">
                  <p class="card-text">Bent over row: Novice</p>
                </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-text">
              <h4 class="text-center card-header">Deadlift</h4>
                <a href="standards/">
                  <img src="/_graphics/icons8-finish-flag-32.png" alt="Mål" title="Mål">
                </a>
                <div class="card-body">
                  <p class="card-text">Deadlift: Novice</p>
                </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-text">
              <h4 class="text-center card-header">Overhead press</h4>
                <a href="standards/">
                  <img src="/_graphics/icons8-finish-flag-32.png" alt="Mål" title="Mål">
                </a>
                <div class="card-body">
                  <p class="card-text">Overhead press: Novice</p>
                </div>
            </div>
          </div>
        </div>
        <!-- Row ends 1 -->
        <!-- Row starts 2 -->
        <div class="row pb-4">
          <div class="col">
            <div class="card card-text">
              <h4 class="text-center card-header">Push ups</h4>
                <a href="standards/">
                  <img src="/_graphics/icons8-finish-flag-32.png" alt="Mål" title="Mål">
                </a>
                <div class="card-body">
                  <p class="card-text">Push ups: Novice</p>
                </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-text">
              <h4 class="text-center card-header">Russian twist</h4>
                <a href="standards/">
                  <img src="/_graphics/icons8-finish-flag-32.png" alt="Mål" title="Mål">
                </a>
                <div class="card-body">
                  <p>Russian twist: Intermediate</p>
                </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-text">
              <h4 class="text-center card-header">Dumbbel 1h row</h4>
                <a href="standards/">
                  <img src="/_graphics/icons8-finish-flag-32.png" alt="Mål" title="Mål">
                </a>
                <div class="card-body">
                  <p>Dumbbel 1h row: Intermediate</p>
                </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-text">
              <h4 class="text-center card-header">Pendlay row</h4>
                <a href="standards/">
                  <img src="/_graphics/icons8-finish-flag-32.png" alt="Mål" title="Mål">
                </a>
                <div class="card-body">
                  <p>Pendlay row: Novice</p>
                </div>
            </div>
          </div>
        </div>
        <!-- End row 2 -->
      </section>
      <!-- Select levels ends -->

      <!-- Select programmes starts -->
      <section class="col-xl-11 col-md-11" id="programmes">
        <h2 class="headers">Utvalda program</h2>

        <!-- Start row 1 -->
        <div class="row pb-4">
          <div class="col">
            <div class="card card-text">
              <h4 class="card-header">Kayaking</h4>
              <a href="programmes/">
                <img src="/_graphics/icons8-finish-flag-32.png" class="card-img-top" alt="Mål" title="Mål" style="width: 32px">
              </a>
              <div class="card-body">
                <p class="card-text">Kayaking programme 2019 Q2-Q3</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-text">
              <h4 class="card-header">Kayaking</h4>
              <a href="programmes/">
                <img src="/_graphics/icons8-finish-flag-32.png" class="card-img-top" alt="Mål" title="Mål" style="width: 32px">
              </a>
              <div class="card-body">
                <p class="card-text">Kayaking programme 2020 Q1</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-text">
              <h4 class="card-header">Olympic</h4>
              <a href="programmes/">
                <img src="/_graphics/icons8-finish-flag-32.png" class="card-img-top" alt="Mål" title="Mål" style="width: 32px">
              </a>
              <div class="card-body">
                <p class="card-text">Olympic programme 2020 Q1</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-text">
              <h4 class="card-header">Home workout</h4>
              <a href="programmes/">
                <img src="/_graphics/icons8-finish-flag-32.png" class="card-img-top" alt="Mål" title="Mål" style="width: 32px">
              </a>
              <div class="card-body">
                <p class="card-text">Home workout programme 2020 Q2</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row pb-4">
          <div class="col">
            <div class="card card-text">
              <h4 class="card-header">Programme for girlfriend</h4>
              <a href="programmes/">
                <img src="/_graphics/icons8-finish-flag-32.png" class="card-img-top" alt="Mål" title="Mål" style="width: 32px">
              </a>
              <div class="card-body">
                <p class="card-text">Programme 1 for my girlfriend</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-text">
              <h4 class="card-header">Programme for girlfriend</h4>
              <a href="programmes/">
                <img src="/_graphics/icons8-finish-flag-32.png" class="card-img-top" alt="Mål" title="Mål" style="width: 32px">
              </a>
              <div class="card-body">
                <p class="card-text">Programme 2 for my girlfriend</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-text">
              <h4 class="card-header">Programme for friend</h4>
              <a href="programmes/">
                <img src="/_graphics/icons8-finish-flag-32.png" class="card-img-top" alt="Mål" title="Mål" style="width: 32px">
              </a>
              <div class="card-body">
                <p class="card-text">Programme 1 for close friend 1</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-text">
              <h4 class="card-header">Programme for friend</h4>
              <a href="programmes/">
                <img src="/_graphics/icons8-finish-flag-32.png" class="card-img-top" alt="Mål" title="Mål" style="width: 32px">
              </a>
              <div class="card-body">
                <p class="card-text">Programme 1 for close friend 2</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End row  -->       
      </section>
      <!-- Select programmes ends -->
    </main>
    <!-- Select pages ends -->

	</div>
  <!-- container ends -->

  <!-- Footer starts-->
	<footer class="col-xl-11 col-md-11">
	</footer>
  <!-- Footer ends -->

  <!-- Popper.js first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>