<!DOCTYPE html>
<html lang="sv">
	<head>
		<meta http-equiv="content-type" content="text/html" charset="utf-8">
		<link rel="icon" href="_graphics/Pushups-16.png" type="image/x-icon">
		<!-- For Edge -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Website about my fitness lifestyle, goals and achievements">
		<meta name="keywords" content="fitness, swimming, kayaking, secret compass, fitnessmotivation, workout, hiking">
		<meta name="author" content="Jakob Papirov">
		<!-- Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,600italic' rel='stylesheet' type='text/css'>
		<!-- JavaScript -->
      <!-- Remote -->
		    <!-- JQuery -->
		    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
        
      <!-- Local -->
      <script src="js/index.js"></script>
      <script src="js/library/footer.js"></script>

		<!-- CSS -->
			<!-- Loads bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous"> <!-- Has to be loaded first, else overwritten -->
      <!-- Material Design Bootstrap -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">

			<!-- Local CSS -->
		<link rel="stylesheet" href="../../_css/main.css">
    <!--<link rel="stylesheet" href="../../_css/index.css">-->
	<title>Träning</title>
</head>
<body class="" id="top">
	<div class="container-fluid">

    <!-- Header, nav section starts -->
		<section class="row">
			<div class="col-xl-11 col-md-11">
        <!-- Header starts -->
				<div class="text-center">
					<h1 class="">Träning</h1>
            <h2>Träningsprogram</h2>
				</div>
        <!-- Header ends -->
			</div>
      <aside class="col-xl-1 col-md-1 bg-dark">
        <nav class="nav nav-fill nav-pills flex-column">
          <a class="nav-link" href="../">Startsida</a>
          <a class="nav-link" href="../diary/">Träningsdagbok</a>
          <a class="nav-link active" aria-current="page" href="#" tabindex="-1" aria-disabled="false">Program</a>
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Mål</a>
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Blog</a>
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Bedrifter</a>
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Statistik</a>
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><img src="../../_graphics/gb.png" alt="en-GB"></a>
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><img src="../../_graphics/se.png" alt="sv-Sv"></a>
        </nav>
      </aside>
		</section>
    <!-- Header, nav section ends -->
    <!-- Breadcumb section starts -->
    <section class="row">
      <div class="col-xl-11 col-md-11">
        <!-- Breadcumb row starts -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../">Startsida</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">Program</a></li>
          </ol>
        </nav>
        <!-- Breadcumb row ends -->
      </div>
    </section>
    <!-- Breadcumb section ends -->

    <!-- Intro starts -->
    <section class="row" id="intro">
      <div class="col-xl-11 col-md-11">
        <div class="card mb-5">
          <h2 class="text-center card-header bg-info">2021</h2>
          <div class="card-body">
            <h3 class="card-title headers">Sammanfattning av året</h2>
            <p class="card-text">Under första halvan av året ska jag ska göra klart mitt långtgående mål om att nå 1 000 pound club (c:a 454 kg) totalt i Marklyft, Bänkpress och knäböj. Första kvartalet består av del 2 A i detta program och andra kvartalet av del 2 B. Utöver detta kommer del 2B vara uppdelat i två delar del 2 B.1 och 2 B.2. Tanken är att anpassa programmet så det leder upp till ett styrketest.</p>
            <p class="card-text">Jag har inte bestämt mig än vad jag vill uppnå under andra halvan av 2021, men jag har några ideér. Beroende på hur det går med "1 000 #"-programmet så kommer jag kanske att välja att fokusera på något av övningar, tex marklyft.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Main content starts-->
    <main class="row text-dark">
      <!-- Program starts -->
      <section class="col-xl-11 col-md-11" id="">
        <!-- Tabs with the main content start -->
        <ul class="nav nav-pills nav-fill mb-5" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="pills-01-tab" data-toggle="pill" href="#pills-01" role="tab" aria-controls="pills-01" aria-selected="true">Kvartal: 1</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-02-tab" data-toggle="pill" href="#pills-02" role="tab" aria-controls="pills-02" aria-selected="false">Kvartal: 2</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-03-tab" data-toggle="pill" href="#pills-03" role="tab" aria-controls="pills-03" aria-selected="false">Kvartal: 3</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-04-tab" data-toggle="pill" href="#pills-04" role="tab" aria-controls="pills-04" aria-selected="false">Kvartal: 4</a>
          </li>
        </ul>
        <div class="tab-content " id="pills-tabContent">
          <!-- Quarter 1 pane starts -->
          <div class="tab-pane fade " id="pills-01" role="tabpanel" aria-labelledby="pills-01-tab">
          <h2 class="text-center bg-success card-header">
            1 000 pound club | Del 2A</h2>

            <section class="row my-3">
              <div class="col">

                <section class="card bg-light"> 
                  <h3 class="card-title px-2 pt-2">Bakgrund</h3>

                  <div class="card-body">
                    <section class="card-text">
                      <p class="">lorem</p>
                    </section>
                  </div>
                </section>
              </div>

              <div class="col">
                <section class="card bg-light"> 
                  <h3 class="card-title px-2 pt-2">Syfte</h3>

                  <div class="card-body">
                    <section class="card-text">
                      <p class="">lorem</p>
                    </section>
                  </div>
                </section>
              </div>

              <div class="col">
                <section class="card bg-light"> 
                  <h3 class="card-title px-2 pt-2">Mål</h3>

                  <div class="card-body">
                    <section class="card-text">
                      <p class="">lorem</p>
                    </section>
                  </div>
                </section>
              </div>

              <div class="col">

                <section class="card bg-light mb-3"> 
                  <h3 class="card-title px-2 pt-2">Tidsspann</h3>

                  <div class="card-body">
                    <section class="card-text">
                      <p class="">lorem</p>
                    </section>
                  </div>
                </section>
              </div>
            </section>
            <section class="row my-3">
              <div class="col">
                <section class="card bg-light mb-3"> 
                  <h3 class="card-title px-2 pt-2">Plan/progression</h3>

                  <div class="card-body">
                    <section class="card-text">
                      <p class="">lorem</p>
                    </section>
                  </div>
                </section>
              </div>
            </section>
            <section class="row my-3">
              <div class="col">

                <section class="card bg-light mb-3"> 
                  <h3 class="card-title px-2 pt-2">Huvudsakliga övningar</h3>

                  <div class="card-body">
                    <section class="card-text">
                      <p class="">lorem</p>
                    </section>
                  </div>
                </section>
              </div>
              <div class="col">
                <section class="card bg-light mb-3"> 
                <h3 class="card-title px-2 pt-2">Tilläggsövningar</h3>

                <div class="card-body">
                  <section class="card-text">
                    <p class="">lorem</p>
                  </section>
                </div>
              </section>
              </div>
              <div class="col">
                <section class="card bg-light mb-3"> 
                <h3 class="card-title px-2 pt-2">Övriga övningar</h3>

                <div class="card-body">
                  <section class="card-text">
                    <p class="">lorem</p>
                  </section>
                </div>
              </section>
              </div>
            </section>
            <section class="row my-3">
              <div class="col">
                <section class="card bg-light mb-3"> 
                  <h3 class="card-title px-2 pt-2">Översikt</h3>

                  <div class="card-body">
                    <section class="card-text">
                      <p class="">En övergripande bild av programmet.</p>
                    </section>
                  </div>
                </section>
              </div>
            </section>
          </div>
          <!-- Quarter 1 pane ends -->
          <!-- Quarter 2 pane starts -->
          <div class="tab-pane fade show active" id="pills-02" role="tabpanel" aria-labelledby="pills-02-tab">

          <h2 class="text-center bg-success card-header">1 000 pound club | BREAK - Home workout</h2>

            <div class="mb-5" id="accordion-1">
              <div class="card">
                <div class="card-header text-center bg-info" id="y21q2-homeWO">
                  <h2 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#y21q2-homeWO-collapse" aria-expanded="false" aria-controls="y21q2-homeWO-collapse">
                      Programmet
                    </button>
                  </h2>
                </div>

                <div id="y21q2-homeWO-collapse" class="collapse" aria-labelledby="y21q2-homeWO" data-parent="#accordion-1">
                  <div class="card-body">
                    <!-- Week 1 Start -->
                    <section class="my-3">
                      <div class="col">
                        <section class="card bg-light p-0">
                          <h5 class="text-center card-title pt-2  bg-success">Week 1</h5>

                          <div class="card-body">

                            <!-- Mini-session 1: Sessions 1-4 START -->
                            <section class="row my-3">
                              <!-- Session 1 Start -->
                              <div class="col">
                                <section class="card bg-primary">
                                <h5 class="text-center card-title pt-2">Session 1</h5>
                                <h6 class="text-center card-title pt-2">Mini-session 1</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">BB Deadlift</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <!-- Session 1 Ens -->
                              <!-- Session 2 Start -->
                              <div class="col">
                                <section class="card bg-primary">
                                <h5 class="text-center card-title pt-2">Session 2</h5>
                                <h6 class="text-center card-title pt-2">Mini-session 1</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Archer push-ups</p>
                                      <p class="bg-white px-2">Decline push-ups</p>
                                      <p class="bg-white px-2">Deficit push-ups</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <!-- Session 2 End -->
                              <!-- Session 3 Start -->
                              <div class="col">
                                <section class="card bg-primary">
                                <h5 class="text-center card-title pt-2">Session 3</h5>
                                <h6 class="text-center card-title pt-2">Mini-session 1</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">BB Overhead press</p>
                                      <p class="bg-white px-2">BB Klokov press</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <!-- Session 3 End -->
                              <!-- Session 4 Start -->
                              <div class="col">
                                <section class="card bg-primary">
                                <h5 class="text-center card-title pt-2">Session 4</h5>
                                <h6 class="text-center card-title pt-2">Mini-session 1</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Power clean</p>
                                      <p class="bg-white px-2">Power clean (Push-press)</p>
                                      <p class="bg-white px-2">Power clean (OhSq)</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <!-- Session 4 End -->
                            </section>
                            <!-- Mini-session 1: Sessions 1-4 END -->
                            <!-- Mini-session 2: Sessions 1-4 START -->
                            <section class="row my-3">
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Mini-session 2</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">BB Deadlift</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Mini-session 2</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">BB Bent over rows</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Mini-session 2</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Front squat</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Mini-session 2</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">-</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                            </section>
                            <!-- Mini-session 2: Sessions 1-4 END -->
                            <!-- Mini-session 3: Sessions 1-4 START -->
                            <section class="row my-3">
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Mini-session 3</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">BB Curl</p>
                                      <p class="bg-white px-2">BB Tricep extention</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Mini-session 3</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Incline push-ups</p>
                                      <p class="bg-white px-2">Diamond push-ups</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Mini-session 3</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Back squat</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Mini-session 4</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Ring: Pull-ups</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                            </section>
                            <!-- Mini-session 3: Sessions 1-4 END -->
                            <!-- Mini-session 4: Sessions 1-4 START -->
                            <section class="row my-3">
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Mini-session 4</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Russian twist</p>
                                      <p class="bg-white px-2">Plank</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Session 2</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Hanging leg-raises</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Session 3</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Santana press</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Session 4</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Core</p>
                                      <p class="bg-white px-2">DB: Farmer's walk</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                            </section>
                            <!-- Mini-session 4: Sessions 1-4 END -->
                          </div>
                        </section>
                      </div>
                    </section>
                    <!-- Week 1 End -->
                    <!-- Week 2 Start -->
                    <section class="my-3">
                      <div class="col">
                        <section class="card bg-light p-0">
                          <h5 class="text-center card-title pt-2 bg-success">Week 2</h5>

                          <div class="card-body">

                            <!-- Mini-session 1: Sessions 1-4 START -->
                            <section class="row my-3">
                              <!-- Session 1 Start -->
                              <div class="col">
                                <section class="card bg-primary">
                                <h5 class="text-center card-title pt-2">Session 1</h5>
                                <h6 class="text-center card-title pt-2">Mini-session 1</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Core</p>
                                      <p class="bg-white px-2">Core</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <!-- Session 1 Ens -->
                              <!-- Session 2 Start -->
                              <div class="col">
                                <section class="card bg-primary">
                                <h5 class="text-center card-title pt-2">Session 2</h5>
                                <h6 class="text-center card-title pt-2">Mini-session 1</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Core</p>
                                      <p class="bg-white px-2">Core</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <!-- Session 2 End -->
                              <!-- Session 3 Start -->
                              <div class="col">
                                <section class="card bg-primary">
                                <h5 class="text-center card-title pt-2">Session 2</h5>
                                <h6 class="text-center card-title pt-2">Mini-session 1</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Core</p>
                                      <p class="bg-white px-2">Core</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <!-- Session 3 End -->
                              <!-- Session 4 Start -->
                              <div class="col">
                                <section class="card bg-primary">
                                <h5 class="text-center card-title pt-2">Session 4</h5>
                                <h6 class="text-center card-title pt-2">Mini-session 1</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Core</p>
                                      <p class="bg-white px-2">Core</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <!-- Session 4 End -->
                            </section>
                            <!-- Mini-session 1: Sessions 1-4 END -->
                            <!-- Mini-session 2: Sessions 1-4 START -->
                            <section class="row my-3">
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Mini-session 2</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Core</p>
                                      <p class="bg-white px-2">Core</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Mini-session 2</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Core</p>
                                      <p class="bg-white px-2">Core</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Mini-session 2</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Core</p>
                                      <p class="bg-white px-2">Core</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Mini-session 2</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Core</p>
                                      <p class="bg-white px-2">Core</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                            </section>
                            <!-- Mini-session 2: Sessions 1-4 END -->
                            <!-- Mini-session 3: Sessions 1-4 START -->
                            <section class="row my-3">
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Mini-session 3</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Core</p>
                                      <p class="bg-white px-2">Core</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Mini-session 3</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Core</p>
                                      <p class="bg-white px-2">Core</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Mini-session 3</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Core</p>
                                      <p class="bg-white px-2">Core</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Mini-session 4</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Core</p>
                                      <p class="bg-white px-2">Core</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                            </section>
                            <!-- Mini-session 3: Sessions 1-4 END -->
                            <!-- Mini-session 4: Sessions 1-4 START -->
                            <section class="row my-3">
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Mini-session 4</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Core</p>
                                      <p class="bg-white px-2">Core</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Session 2</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Core</p>
                                      <p class="bg-white px-2">Core</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Session 3</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Core</p>
                                      <p class="bg-white px-2">Core</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Session 4</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Deadlift</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                            </section>
                            <!-- Mini-session 4: Sessions 1-4 END -->
                          </div>
                        </section>
                      </div>
                    </section>
                    <!-- Week 2 End -->
                    <!-- Week 3 Start -->
                    <section class="my-3">
                      <div class="col">
                        <section class="card bg-light p-0">
                          <h5 class="text-center card-title pt-2 bg-dark text-white">Week 3</h5>

                          <div class="card-body">

                            <!-- Mini-session 1: Sessions 1-4 START -->
                            <section class="row my-3">
                              <!-- Session 1 Start -->
                              <div class="col">
                                <section class="card bg-primary">
                                <h5 class="text-center card-title pt-2">Session 1</h5>
                                <h6 class="text-center card-title pt-2">Mini-session 1</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Walk</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <!-- Session 1 Ens -->
                              <!-- Session 2 Start -->
                              <div class="col">
                                <section class="card bg-primary">
                                <h5 class="text-center card-title pt-2">Session 2</h5>
                                <h6 class="text-center card-title pt-2">Mini-session 1</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">-</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <!-- Session 2 End -->
                              <!-- Session 3 Start -->
                              <div class="col">
                                <section class="card bg-primary">
                                <h5 class="text-center card-title pt-2">Session 3</h5>
                                <h6 class="text-center card-title pt-2">Mini-session 1</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Walk</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <!-- Session 3 End -->
                              <!-- Session 4 Start -->
                              <div class="col">
                                <section class="card bg-primary">
                                <h5 class="text-center card-title pt-2">Session 4</h5>
                                <h6 class="text-center card-title pt-2">Mini-session 1</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Walk</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <!-- Session 4 End -->
                            </section>
                            <!-- Mini-session 1: Sessions 1-4 END -->
                            <!-- Mini-session 2: Sessions 1-4 START -->
                            <section class="row my-3">
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Mini-session 2</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">-</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Mini-session 2</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Walk</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Mini-session 2</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Power clean</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Mini-session 2</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">BB Bent over row</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                            </section>
                            <!-- Mini-session 2: Sessions 1-4 END -->
                            <!-- Mini-session 3: Sessions 1-4 START -->
                            <section class="row my-3">
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Mini-session 3</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Overhead press</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Mini-session 3</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">-</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Mini-session 3</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Core</p>
                                      <p class="bg-white px-2">Core</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Mini-session 3</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">-</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                            </section>
                            <!-- Mini-session 3: Sessions 1-4 END -->
                            <!-- Mini-session 4: Sessions 1-4 START -->
                            <section class="row my-3">
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Mini-session 4</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">BB Curl</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Mini-session 4</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Push-ups (chest)</p>
                                      <p class="bg-white px-2">DB Standing Upward Chest Fly</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Mini-session 4</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">-</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Mini-session 4</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">BB Back squat</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                            </section>
                            <!-- Mini-session 4: Sessions 1-4 END -->
                          </div>
                        </section>
                      </div>
                    </section>
                    <!-- Week 3 End -->
                  </div>
                </div>
              </div>
            </div>

          <h2 class="text-center bg-success card-header">1 000 pound club | Del 2 B.1</h2>

            <div class="mb-5" id="accordion-2">
              <div class="card">
                <div class="card-header text-center bg-info" id="y21q2-part2b1">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#y21q2-part2b1-collapse" aria-expanded="false" aria-controls="y21q2-part2b1-collapse">
                      [Uppskjutet] - Programmet
                    </button>
                  </h2>
                </div>

                <div id="y21q2-part2b1-collapse" class="collapse" aria-labelledby="y21q2-part2b1" data-parent="#accordion-2">
                  <div class="card-body">
                    <section class="row my-3">
                      <div class="col">

                        <section class="card bg-light"> 
                        <h3 class="card-title px-2 pt-2">Bakgrund</h3>

                          <div class="card-body">
                            <section class="card-text">
                              <p class="">lorem</p>
                            </section>
                          </div>
                        </section>
                      </div>

                      <div class="col">
                        <section class="card bg-light"> 
                          <h3 class="card-title px-2 pt-2">Syfte</h3>

                          <div class="card-body">
                            <section class="card-text">
                              <p class="">lorem</p>
                            </section>
                          </div>
                        </section>
                      </div>

                      <div class="col">
                        <section class="card bg-light"> 
                          <h3 class="card-title px-2 pt-2">Mål</h3>

                          <div class="card-body">
                            <section class="card-text">
                              <p class="">lorem</p>
                            </section>
                          </div>
                        </section>
                      </div>

                      <div class="col">

                        <section class="card bg-light mb-3"> 
                          <h3 class="card-title px-2 pt-2">Tidsspann</h3>

                          <div class="card-body">
                            <section class="card-text">
                              <p class="">lorem</p>
                            </section>
                          </div>
                        </section>
                      </div>
                    </section>
                    <section class="row my-3">
                      <div class="col">
                        <section class="card bg-light mb-3"> 
                        <h3 class="card-title px-2 pt-2">Plan/progression</h3>

                          <div class="card-body">
                            <section class="card-text">
                              <p class="">lorem</p>
                            </section>
                          </div>
                        </section>
                      </div>
                    </section>
                    <section class="row my-3">
                      <div class="col">

                        <section class="card bg-light mb-3"> 
                        <h3 class="card-title px-2 pt-2">Huvudsakliga övningar</h3>

                          <div class="card-body">
                            <section class="card-text">
                              <p class="">lorem</p>
                            </section>
                            <ul>
                              <li>Marklyft</li>
                              <li>Bänkpress</li>
                              <li>Knäböj</li>
                            </ul>
                          </div>
                        </section>
                      </div>
                      <div class="col">
                        <section class="card bg-light mb-3"> 
                        <h3 class="card-title px-2 pt-2">Hjälpövningar</h3>

                        <div class="card-body">
                          <section class="card-text">
                            <p class="">Huvudövningar är de övningar som utgör målet för programmet. Näst i hierarkin kommer hjälpövningarna som tränar vissa delmoment till huvudövningarna. Därefter kommer tilläggsövningarna som tränar en viss muskelgrupp "tillhörande" huvudövningarna, men som inte är tillräckligt specifik för målet. Sist kommer övriga övningar. Dessa övningar kan vara flera och tränas varierande regelbundet och intensivt. Kan tänkas som en pool av övningar med övergripande tema, där jag väljer ut vilja jag vill träna per månads eller veckovis basis.</p>
                          </section>
                          <div class="row">
                            <div class="col">
                              <h5>Marklyft</h5>
                              <ul>
                                <li>Deficit deadlift</li>
                                <li>1.5 Deadlift</li>
                                <li>Snatch grip/snatch deadlift</li>
                                <li>Sumo deadlift</li>
                              </ul>
                            </div>
                            <div class="col">
                              <h5>Bänkpress</h5>
                              <ul>
                                <li>DB Bänkpress</li>
                                <li>Maskin fly</li>
                                <li>Armhävningar (+vikt)</li>
                              </ul>
                            </div>
                            <div class="col">
                              <h5>Knäböj</h5>
                              <ul>
                                <li>Knäbäj -> parallella</li>
                                <li>Knäböj -> kvarts</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </section>
                      </div>
                      <div class="col">
                        <section class="card bg-light mb-3"> 
                          <h3 class="card-title px-2 pt-2">Tilläggsövningar</h3>

                          <div class="card-body">
                            <section class="card-text">
                              <p class="">lorem</p>
                            </section>

                            <ul>
                              <li>Axelpress</li>
                              <li>Clean pull</li>
                              <li>Pendlay rodd</li>
                            </ul>
                          </div>
                        </section>
                      </div>
                      <div class="col">
                        <section class="card bg-light mb-3"> 
                        <h3 class="card-title px-2 pt-2">Övriga övningar</h3>

                        <div class="card-body">
                          <section class="card-text">
                            <p class="">lorem</p>
                          </section>

                          <ul>
                            <li>BB Curl</li>
                            <li>DB Triceps kickback</li>
                            <li>DB Lateral raise</li>
                          </ul>
                        </div>
                        </section>
                      </div>
                    </section>
                    <section class="row my-3">
                      <div class="col">
                        <section class="card bg-light mb-3"> 
                        <h3 class="card-title px-2 pt-2">Översikt - Del 2 B.1</h3>

                          <div class="card-body">
                            <section class="card-text">
                              <p class="">En övergripande bild av programmet. Syftet med detta program är att påbörja "peaking" utav det långtgående 1 000 pound club programmet, som jag påbörjade Aug 2020. Med andra ord, öka intensiteten, och fokus på marklyft, bänkpress och knäböj. Men För att balansera intensiteten, har jag lagt in totalt tre stycken "viloveckor". Jag tror inte att rena viloveckor passar här utan har valt att köra med kajakcircuiten.</p>

                              <p class="">Programmet inleds med en vilovecka mellan slutet på Del 2 A och Del 2 B.1, där syftet är att få in det som kajakcirkelfysen ger.</p>

                              <p class="">Därefter följer två veckor med fokus på marklyft, följt av vilovecka och sedan två veckor med fokus på bänkpress och sedan knäböj. Jag anser inte att det behövs en vilovecka mellan de två sista blocken, däremot efter den sista så är det lämpligt.</p>
                            </section>
                          </div>

                          <ul>
                            <li>Week 1 - Kayaking circuit</li>
                            <li>Week 2 - Deadlift block</li>
                            <li>Week 3 - Deadlift block</li>
                            <li>Week 4 - Kayaking circuit</li>
                            <li>Week 5 - Bench press block</li>
                            <li>Week 6 - Bench press block</li>
                            <li>Week 7 - Back squat block</li>
                            <li>Week 8 - Back squat block</li>
                            <li>Week 9 - Kayaking circuit</li>
                          </ul>
                        </section>
                      </div>

                      <div class="col">
                        <section class="card bg-light mb-3">
                          <h3 class="card-title px-2 pt-2">Översikt - Del 2 B.2</h3>

                          <div class="card-body">
                            <section class="card-text">
                              <p class="">En övergripande bild av programmet.</p>

                              <p class="">Här kulminerar programmet genom att köra en vecka specifikt per huvudövning. Dock för att inte riskera tappa något på de andra övningarna, så kommer jag även att göra dem. Däremot kommer jag köra på en lägre %RM.</p>

                              <p class="">Huvudövningen körs med 90-100 %RM, medan de andra två övningarna körs på antingen 50 %RM eller 80% RM, beroende på var de ligger i ordningen. Fokus här är att köra låg volym, men riktigt tunga lyft.</p>
                            </section>
                          </div>

                          <ul>
                            <li>Week 10 - Deadlift week</li>
                            <li>Week 11 - Bench press week</li>
                            <li>Week 12 - Back squat week</li>
                            <li>Week 13 - Rest week</li>
                            <li>Week 14 - Goal attempts week</li>
                          </ul>
                        </section>
                      </div>
                    </section>
                    <!-- Block 1 Week 1 Starts -->
                    <section class="row my-3">
                      <div class="col">
                        <section class="card bg-light p-0">
                        <h5 class="text-center card-title pt-2">Deadlift block 1</h5>
                          <h6 class="text-center card-title pt-2">Week 1</h6>

                          <div class="card-body">

                            <section class="row my-3">
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Session 1</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">BB Romanian deadlift</p>
                                      <p class="bg-white px-2">BB Back squat</p>
                                      <p class="bg-white px-2">DB 1h row</p>
                                      <p class="bg-white px-2">DB Arnold press (sitting)</p>
                                      <p class="bg-white px-2">Cable: One-arm pulldown</p>
                                      <p class="bg-white px-2">BB Curl</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Session 2</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">BB Bench press</p>
                                      <p class="bg-white px-2">BB Pendlay row</p>
                                      <p class="bg-white px-2">BB Klokov press</p>
                                      <p class="bg-white px-2">Bar: Hanging leg-raises</p>
                                      <p class="bg-white px-2">Cable: Wood chopper</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Session 3</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">BB Deadlift</p>
                                      <p class="bg-white px-2">BB Sumo deadlift</p>
                                      <p class="bg-white px-2">Pull-ups</p>
                                      <p class="bg-white px-2">DB: Farmer's walk</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                            </section>
                          </div>
                        </section>
                      </div>
                      <div class="col">
                        <section class="card bg-light p-0">
                        <h5 class="text-center card-title pt-2">Bench press block 1</h5>
                          <h6 class="text-center card-title pt-2">Week 1</h6>

                          <div class="card-body">

                            <section class="row my-3">

                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Session 1</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">DB Bench press</p>
                                      <p class="bg-white px-2">Dips</p>
                                      <p class="bg-white px-2">BB Back squat</p>
                                      <p class="bg-white px-2">DB 1h row</p>
                                      <p class="bg-white px-2">BB Curl</p>
                                      <p class="bg-white px-2">Cable: Face-pulls</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Session 2</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">BB Bench press</p>
                                      <p class="bg-white px-2">BB Pendlay row</p>
                                      <p class="bg-white px-2">BB Klokov press</p>
                                      <p class="bg-white px-2">Bar: Hanging leg-raises</p>
                                      <p class="bg-white px-2">Cable: Straight-arm pulldown</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Session 3</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">Push-ups</p>
                                      <p class="bg-white px-2">DB Fly</p>
                                      <p class="bg-white px-2">BB Clean pull</p>
                                      <p class="bg-white px-2">Pull-ups</p>
                                      <p class="bg-white px-2">DB Farmer's walk</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                            </section>
                          </div>
                        </section>
                      </div>
                      <div class="col">
                        <section class="card bg-light p-0">
                        <h5 class="text-center card-title pt-2">Squat block 1</h5>
                          <h6 class="text-center card-title pt-2">Week 1</h6>

                          <div class="card-body">

                            <section class="row my-3">
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Session 1</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">BB Sled</p>
                                      <p class="bg-white px-2">DB 1h row</p>
                                      <p class="bg-white px-2">DB Arnold press (sitting)</p>
                                      <p class="bg-white px-2">Cable: One-arm pulldown</p>
                                      <p class="bg-white px-2">BB Curl</p>
                                      <p class="bg-white px-2">Dragonfly</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Session 2</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">BB Front squat</p>
                                      <p class="bg-white px-2">Dips</p>
                                      <p class="bg-white px-2">BB Pendlay row</p>
                                      <p class="bg-white px-2">BB Klokov press</p>
                                      <p class="bg-white px-2">Bar: Hanging leg-raises</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Session 3</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">BB Back squat</p>
                                      <p class="bg-white px-2">Pull-ups</p>
                                      <p class="bg-white px-2">BB Clean pull</p>
                                      <p class="bg-white px-2">DB Farmer's walk</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                          </section>
                          </div>
                        </section>
                      </div>
                    </section>
                    <!-- Block 1 Week 1 ends -->
                    <!-- Block 1 Week 2 starts -->
                    <section class="row my-3">
                      <div class="col">
                        <section class="card bg-light p-0">
                        <h5 class="text-center card-title pt-2">Deadlift block</h5>
                          <h6 class="text-center card-title pt-2">Week 2</h6>

                          <div class="card-body">

                            <section class="row my-3">
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Session 1</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">BB Romanian deadlift</p>
                                      <p class="bg-white px-2">BB Back squat</p>
                                      <p class="bg-white px-2">DB 1h row</p>
                                      <p class="bg-white px-2">DB Arnold press (sitting)</p>
                                      <p class="bg-white px-2">Cable: One-arm pulldown</p>
                                      <p class="bg-white px-2">BB Curl</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Session 2</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">BB Bench press</p>
                                      <p class="bg-white px-2">BB Pendlay row</p>
                                      <p class="bg-white px-2">BB Clean pull</p>
                                      <p class="bg-white px-2">Bar: Hanging leg-raises</p>
                                      <p class="bg-white px-2">Cable: Wood chopper</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Session 3</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">BB Deadlift</p>
                                      <p class="bg-white px-2">BB Sumo deadlift</p>
                                      <p class="bg-white px-2">Pull-ups</p>
                                      <p class="bg-white px-2">DB: Farmer's walk</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                            </section>
                          </div>
                        </section>
                      </div>
                      <div class="col">
                        <section class="card bg-light p-0">
                        <h5 class="text-center card-title pt-2">Bench press block</h5>
                          <h6 class="text-center card-title pt-2">Week 2</h6>

                          <div class="card-body">

                            <section class="row my-3">

                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Session 1</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">BB Bench press</p>
                                      <p class="bg-white px-2">BB Back squat</p>
                                      <p class="bg-white px-2">DB 1h row</p>
                                      <p class="bg-white px-2">Cable: Face-pulls</p>
                                      <p class="bg-white px-2">DB Arnold press (sitting)</p>
                                      <p class="bg-white px-2">BB Curl</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Session 2</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">BB Overhead press</p>
                                      <p class="bg-white px-2">BB Pendlay row</p>
                                      <p class="bg-white px-2">Bar: Hanging leg-raises</p>
                                      <p class="bg-white px-2">Cable: Straight-arm pulldown</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Session 3</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">BB Bench press</p>
                                      <p class="bg-white px-2">BB Clean pull</p>
                                      <p class="bg-white px-2">Pull-ups</p>
                                      <p class="bg-white px-2">DB Farmer's walk</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                            </section>
                          </div>
                        </section>
                      </div>
                      <div class="col">
                        <section class="card bg-light p-0">
                        <h5 class="text-center card-title pt-2">Squat block</h5>
                          <h6 class="text-center card-title pt-2">Week 2</h6>

                          <div class="card-body">

                            <section class="row my-3">
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Session 1</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">BB Sled</p>
                                      <p class="bg-white px-2">DB 1h row</p>
                                      <p class="bg-white px-2">DB Arnold press (sitting)</p>
                                      <p class="bg-white px-2">Cable: One-arm pulldown</p>
                                      <p class="bg-white px-2">BB Curl</p>
                                      <p class="bg-white px-2">Dragonfly</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Session 2</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">BB Front squat</p>
                                      <p class="bg-white px-2">Dips</p>
                                      <p class="bg-white px-2">BB Pendlay row</p>
                                      <p class="bg-white px-2">BB Overhead press</p>
                                      <p class="bg-white px-2">Bar: Hanging leg-raises</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                              <div class="col">
                                <section class="card bg-primary">
                                <h6 class="text-center card-title pt-2">Session 3</h6>

                                  <div class="card-body">
                                    <section class="card-text">
                                      <p class="bg-white px-2">BB Back squat</p>
                                      <p class="bg-white px-2">Pull-ups</p>
                                      <p class="bg-white px-2">BB Clean pull</p>
                                      <p class="bg-white px-2">DB Farmer's walk</p>
                                    </section>
                                  </div>
                                </section>
                              </div>
                          </section>
                          </div>
                        </section>
                      </div>
                    </section>
                    <!-- Block 1 Week 2 ends -->
                  </div>
                </div>
              </div>
            </div>

          <h2 class="text-center bg-success card-header">1 000 pound club | Del 2 B.2</h2>

            <!-- Block 2 Week 1 starts -->
            <div class="mb-5" id="accordion-3">
              <div class="card">
                <div class="card-header text-center bg-info" id="21q2-part2b2">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#part2b2-collapse" aria-expanded="false" aria-controls="part2b2-collapse">
                      [Uppskjutet] - Programmet
                    </button>
                  </h2>
                </div>

                <div id="part2b2-collapse" class="collapse" aria-labelledby="part2b2" data-parent="#accordion-3">
                  <div class="card-body">
                    <!-- Week  Starts -->
                  <section class="row my-3">
                    <div class="col">
                      <section class="card bg-light p-0">
                      <h5 class="text-center card-title pt-2">Deadlift block 2</h5>
                        <h6 class="text-center card-title pt-2">Week 1</h6>

                        <div class="card-body">

                          <section class="row my-3">
                            <div class="col">
                              <section class="card bg-primary">
                              <h6 class="text-center card-title pt-2">Session 1</h6>

                                <div class="card-body">
                                  <section class="card-text">
                                    <p class="bg-white px-2">BB Deadlift 
                                      <br><span class="px-2 text-uppercase bg-dark green-text">90 % 1RM</span></p>
                                    <p class="bg-white px-2">BB Sumo deadlift 
                                      <br><span class="px-2 text-uppercase bg-dark green-text">90 % 1RM</span></p>
                                    <hr>
                                    <p class="bg-white px-2">Bench press 
                                      <br><span class="px-2 text-uppercase bg-dark green-text">80 % 1RM</span></p>
                                    <p class="bg-white px-2">BB Back squat 
                                      <br><span class="px-2 text-uppercase bg-dark green-text">50 % 1RM</span></p>
                                  </section>
                                </div>
                              </section>
                            </div>
                            <div class="col">
                              <section class="card bg-primary">
                              <h6 class="text-center card-title pt-2">Session 2</h6>

                                <div class="card-body">
                                  <section class="card-text">
                                    <p class="bg-white px-2">BB Deadlift 
                                      <br><span class="px-2 text-uppercase bg-dark green-text">95 % 1RM</span></p>
                                    <p class="bg-white px-2">BB Sumo deadlift 
                                      <br><span class="px-2 text-uppercase bg-dark green-text">90 % 1RM</span></p>
                                    <hr>
                                    <p class="bg-white px-2">Bench press <br><span class="px-2 text-uppercase bg-dark green-text">80 % 1RM</span></p>
                                    <p class="bg-white px-2">BB Back squat <br><span class="px-2 text-uppercase bg-dark green-text">50 % 1RM</span></p>
                                  </section>
                                </div>
                              </section>
                            </div>
                            <div class="col">
                              <section class="card bg-primary">
                              <h6 class="text-center card-title pt-2">Session 3</h6>

                                <div class="card-body">
                                  <section class="card-text">
                                    <p class="bg-white px-2">BB Deadlift 
                                      <br><span class="px-2 text-uppercase bg-dark green-text">100 % 1RM</span></p>
                                    <p class="bg-white px-2">BB Sumo deadlift 
                                      <br><span class="px-2 text-uppercase bg-dark green-text">90 % 1RM</span></p>
                                    <hr>
                                    <p class="bg-white px-2">Bench press <br><span class="px-2 text-uppercase bg-dark green-text">80 % 1RM</span></p>
                                    <p class="bg-white px-2">BB Back squat <br><span class="px-2 text-uppercase bg-dark green-text">50 % 1RM</span></p>
                                  </section>
                                </div>
                              </section>
                            </div>
                          </section>
                        </div>
                      </section>
                    </div>
                    <div class="col">
                      <section class="card bg-light p-0">
                      <h5 class="text-center card-title pt-2">Bench press block 2</h5>
                        <h6 class="text-center card-title pt-2">Week 1</h6>

                        <div class="card-body">

                          <section class="row my-3">

                            <div class="col">
                              <section class="card bg-primary">
                              <h6 class="text-center card-title pt-2">Session 1</h6>

                                <div class="card-body">
                                  <section class="card-text">
                                    <p class="bg-white px-2">Bench press
                                      <br><span class="px-2 text-uppercase bg-dark green-text">90 % 1RM</span></p>
                                    <hr>
                                    <p class="bg-white px-2">BB Deadlift 
                                      <br><span class="px-2 text-uppercase bg-dark green-text">80 % 1RM</span></p>
                                    <p class="bg-white px-2">BB Back squat 
                                      <br><span class="px-2 text-uppercase bg-dark green-text">80 % 1RM</span></p>
                                  </section>
                                </div>
                              </section>
                            </div>
                            <div class="col">
                              <section class="card bg-primary">
                              <h6 class="text-center card-title pt-2">Session 2</h6>

                                <div class="card-body">
                                  <section class="card-text">
                                    <p class="bg-white px-2">BB Bench press
                                      <br><span class="px-2 text-uppercase bg-dark green-text">95 % 1RM</span></p>
                                    <hr>
                                    <p class="bg-white px-2">BB Deadlift 
                                      <br><span class="px-2 text-uppercase bg-dark green-text">80 % 1RM</span></p>
                                    <p class="bg-white px-2">BB Back squat 
                                      <br><span class="px-2 text-uppercase bg-dark green-text">80 % 1RM</span></p>
                                  </section>
                                </div>
                              </section>
                            </div>
                            <div class="col">
                              <section class="card bg-primary">
                              <h6 class="text-center card-title pt-2">Session 3</h6>

                                <div class="card-body">
                                  <section class="card-text">
                                    <p class="bg-white px-2">BB Bench press
                                      <br><span class="px-2 text-uppercase bg-dark green-text">95 % 1RM</span></p>
                                    <hr>
                                    <p class="bg-white px-2">BB Deadlift 
                                      <br><span class="px-2 text-uppercase bg-dark green-text">50 % 1RM</span></p>
                                    <p class="bg-white px-2">BB Back squat 
                                      <br><span class="px-2 text-uppercase bg-dark green-text">50 % 1RM</span></p>
                                  </section>
                                </div>
                              </section>
                            </div>
                          </section>
                        </div>
                      </section>
                    </div>
                    <div class="col">
                      <section class="card bg-light p-0">
                      <h5 class="text-center card-title pt-2">Squat block 2</h5>
                        <h6 class="text-center card-title pt-2">Week 1</h6>

                        <div class="card-body">

                          <section class="row my-3">
                            <div class="col">
                              <section class="card bg-primary">
                              <h6 class="text-center card-title pt-2">Session 1</h6>

                                <div class="card-body">
                                  <section class="card-text">
                                    <p class="bg-white px-2">BB Back squat
                                      <br><span class="px-2 text-uppercase bg-dark green-text">90 % 1RM</span></p>
                                    <hr>
                                    <p class="bg-white px-2">BB Bench press 
                                      <br><span class="px-2 text-uppercase bg-dark green-text">50 % 1RM</span></p>
                                    <p class="bg-white px-2">BB Deadlift 
                                      <br><span class="px-2 text-uppercase bg-dark green-text">50 % 1RM</span></p>
                                  </section>
                                </div>
                              </section>
                            </div>
                            <div class="col">
                              <section class="card bg-primary">
                              <h6 class="text-center card-title pt-2">Session 2</h6>

                                <div class="card-body">
                                  <section class="card-text">
                                    <p class="bg-white px-2">BB Back squat
                                      <br><span class="px-2 text-uppercase bg-dark green-text">90 % 1RM</span></p>
                                    <hr>
                                    <p class="bg-white px-2">BB Bench press 
                                      <br><span class="px-2 text-uppercase bg-dark green-text">50 % 1RM</span></p>
                                    <p class="bg-white px-2">BB Deadlift 
                                      <br><span class="px-2 text-uppercase bg-dark green-text">50 % 1RM</span></p>
                                  </section>
                                </div>
                              </section>
                            </div>
                            <div class="col">
                              <section class="card bg-primary">
                              <h6 class="text-center card-title pt-2">Session 3</h6>

                                <div class="card-body">
                                  <section class="card-text">
                                    <p class="bg-white px-2">BB Back squat
                                      <br><span class="px-2 text-uppercase bg-dark green-text">95 % 1RM</span></p>
                                    <hr>
                                    <p class="bg-white px-2">BB Bench press 
                                      <br><span class="px-2 text-uppercase bg-dark green-text">50 % 1RM</span></p>
                                    <p class="bg-white px-2">BB Deadlift 
                                      <br><span class="px-2 text-uppercase bg-dark green-text">50 % 1RM</span></p>
                                  </section>
                                </div>
                              </section>
                            </div>
                        </section>
                        </div>
                      </section>
                    </div>
                  </section>
                  <!-- Week  Starts -->
                  </div>
                </div>
              </div>
            </div>
            <!-- Block 1 Week 1 ends -->

          </div>
          <!-- Quarter 2 pane ends -->
          <!-- Quarter 3 pane starts -->
          <div class="tab-pane fade" id="pills-03" role="tabpanel" aria-labelledby="pills-03-tab">
          <h2 class="text-center">Kvartal: 3</h2>

            <section class="row my-3">
              <div class="col">

                <section class="card bg-light"> 
                <h3 class="card-title px-2 pt-2">Bakgrund</h3>

                  <div class="card-body">
                    <section class="card-text">
                      <p class="">lorem</p>
                    </section>
                  </div>
                </section>
              </div>

              <div class="col">
                <section class="card bg-light"> 
                  <h3 class="card-title px-2 pt-2">Syfte</h3>

                  <div class="card-body">
                    <section class="card-text">
                      <p class="">lorem</p>
                    </section>
                  </div>
                </section>
              </div>

              <div class="col">
                <section class="card bg-light"> 
                  <h3 class="card-title px-2 pt-2">Mål</h3>

                  <div class="card-body">
                    <section class="card-text">
                      <p class="">Jag har inte bestämt mig än för vilka övningar jag vill satsa på.</p>
                      <p>Något som jag däremot är säker på att är att jag kommer att välja ut några övningar som jag vill satsa på och några som jag vill ha med i programmet.</p>
                      <ul>
                        <li>OhP</li>
                        <li>BoR</li>
                        <li>Clean and jerk</li>
                        <li>Snatch</li>
                        <li>Power clean (pwr cl -> OhSq/FS)</li>
                        <li>Front squat</li>
                        <li>Overhead squat</li>
                      </ul>
                    </section>
                  </div>
                </section>
              </div>

              <div class="col">

                <section class="card bg-light mb-3"> 
                  <h3 class="card-title px-2 pt-2">Tidsspann</h3>

                  <div class="card-body">
                    <section class="card-text">
                      <p class="">lorem</p>
                    </section>
                  </div>
                </section>
              </div>
            </section>
          </div>
          <!-- Quarter 3 pane ends -->
          <!-- Quarter 4 pane starts -->
          <div class="tab-pane fade" id="pills-04" role="tabpanel" aria-labelledby="pills-04-tab">
            <h2 class="text-center">Kvartal: 4</h2>
          </div>
          <!-- Quarter 4 pane ends -->
        </div>
        <!-- Tabs with the main content end -->
      </section>
      <!-- Select goals ends-->
    </main>
    <!-- Select pages ends -->

	</div>
  <!-- container ends -->

  <!-- Footer starts-->
	<footer>
	</footer>
  <!-- Footer ends -->

  <!-- Popper.js first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>