


body  {
	background-color: #a3a3a3;
	/* https://www.color-hex.com/color/666666 */
}

.container-fluid {
	min-height: 100vh;
}

/* Fixes the navbar to the right; sticky */
	/* https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
	aside {
	  height: 100%;
	  position: fixed;
	  z-index: 1;
	  top: 0;
	  right: 0;
	  background-color: #111;
	  overflow-x: hidden;
	  padding-top: 5vh;
	}
	/* Adds padding to the right and left */
	section, main, footer {
		padding: 0px 10px;
	}
	/* Fonts of navbar */
	nav {
		font-size: 1.2rem;
	}
	/* BS 5 */
		/* !?"#"! it doesn't override*/ 
	.nav-link {
		text-align: left !important;
	}

.container-fluid {
	margin-top: 3rem;
}

.nav-link:hover {
	background-color: #c4e7f7;
}

p {
	color: black;
}

ul, ol {
	list-style-type: none;
}